.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Archive/*

# Code
code/Archive/*
code_ignored/collapse_matrix.R
code_ignored/create_pbta_combined_matrices.R
code_ignored/create_gtex_matrix.R
code_ignored/create_gtex_brain_matrix.R
code_ignored/create_tcga_gbm_matrix.R
code_ignored/tcga_fullmat_format.R
code_ignored/create_icr_matrix.R

# PBTA data preparation for mutational analysis
code_ignored/prepare_pbta_mut_analysis.R

# Data will be uploaded to s3 instead of github
data/*
# !data/Reference
# data/Reference/ICR/
