.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Archive/*

# code to be ignored
code/code_ignored/*

# data (pushed to s3 instead of github)
data/

# results directory with all patient data (pushed to cavatica)
results/


