.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Archive/*

# code to be ignored
code_ignored/*
!code_ignored/prepare_tcga_mut_analysis_tcgabiolinks.R
!code_ignored/create_pbta_combined_matrices.R
!code_ignored/prepare_pbta_mut_analysis.R

# tmb normalization folders to be ignored
code/tmb_normalization/plots
code/tmb_normalization/references
code/tmb_normalization/results

# tables_to_plots folders to be ignored
code/tables_to_plots/GDCdata
GDCdata/

# data (pushed to s3 instead of github)
data/
Rplots.pdf

# results directory with all patient data (pushed to cavatica)
results/

# testing scripts
test_scripts/*
